[submodule "external/libimagequant"]
	path = external/libimagequant
	url = https://github.com/ImageOptim/libimagequant
	branch = 2.x
[submodule "external/narc"]
	path = external/narc
	url = https://github.com/Fexty12573/narc
[submodule "external/embed"]
	path = external/embed
	url = https://github.com/batterycenter/embed
[submodule "external/microtar"]
	path = external/microtar
	url = https://github.com/rxi/microtar.git
