[submodule "external/libimagequant"]
	path = external/libimagequant
	url = https://github.com/ImageOptim/libimagequant
	branch = 2.x
	ignore = dirty
[submodule "external/embed"]
	path = external/embed
	url = https://github.com/batterycenter/embed
[submodule "external/microtar"]
	path = external/microtar
	url = https://github.com/rxi/microtar.git
